<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funs.appreciate.art">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:name=".ArtApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".view.SplashActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".view.MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- 屏保 -->
        <activity android:name=".view.ScreenProtectionActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter >
                <action android:name="funs.appreciate.art.screen_protect"/>
            </intent-filter>
            </activity>
        <!-- 专题 -->
        <activity android:name=".view.SpecialActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- 详情 -->
        <activity android:name=".view.DetailActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- WebActivity -->
        <activity android:name=".view.WebActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- VideoActivity -->
        <activity android:name=".view.VideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- 屏保service -->
        <service android:name=".service.ScreenProtectionService"
            />

        <!-- umeng -->
        <meta-data android:value="596c5de3c895760ac400008b" android:name="UMENG_APPKEY"/>
        <meta-data android:value="funs_art" android:name="UMENG_CHANNEL"/>

        <!-- talkingData-->
        <service android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
        <meta-data android:name="TD_APP_ID" android:value="1EB36E2846A4445CB8DCF2DE1EF2162A" />
        <meta-data android:name="TD_CHANNEL_ID" android:value="funs_art" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 屏保 -->
    <uses-permission android:name="android.permission.BIND_SCREENING_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
</manifest>
